@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


$color-purple: #9356DC;
$color-purple-light: #cdb1ee;
$color-pink: #FF79DA;
$color-blue-light: #99E2D0;
$color-grey: #eaeaea;
$color-grey-light: #f6f6f6;
$color-grey-dark: #353535;
$color-gradient: linear-gradient(#9356DC, #FF79DA);



.section1 {

    animation: section1 7000ms;
}

.section2 {

    animation: section2 7000ms;
}

.section3 {

    animation: section3 7000ms;
}

@keyframes section1 {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }

}

@keyframes section2 {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }

}

@keyframes section3 {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}


body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

H3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 15px;
}


button {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: $color-purple;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    padding: 15px;
    margin-bottom: 35px;

    &:hover {
        background-color: $color-purple-light;
        box-shadow: 3px 3px 1px black;
    }

}


.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.btn__long {
    padding-left: 60px;
    padding-right: 60px;
}




/*
.heart {
    margin-top: 5px;
    margin-right: 20px;
   

}

.heart__purple {
    font-size: 20px;
    display:none;
    color: linear-gradient(#9356DC,#FF79DA);
}

*/

.nomRestaurant .fa-solid {
 
    color: #9356DC;
    display: none;
}

.nomRestaurant .fa-regular {
    position :absolute;
    right: 0px;
    &:hover{
       display: none;

        .nomRestaurant .fa-solid {
            display: block;
            position :absolute;
            right: 0px;
            color: #9356DC;
        }

   
    }
}
/*
color : red;
transform: translate(0, 100px);
.nomRestaurant .fa-solid {
    font-size: 20px;
    color: blue;
    transition: transform 3300ms ease-in-out;
}


*/



/********** Header ************/
/********** Header ************/
/********** Header ************/

.header__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__firstl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
    gap: 22%;
    margin-left: -20%;

    i {
        position: absolute;
        left: 5%;
        top: 20px;
    }

    img {
        width: 180px;

    }
}


.header__image {
    width: 100%;
    z-index: 1;

    img {
        width: 100%;
        object-fit: cover;

    }

}

/********* Main ************/
/********* Main ************/
/********* Main ************/
.mainRestaurant {
    z-index: 2;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background-color: $color-grey-light;
    position: relative;
    top: -35px;

}

.nomRestaurant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
        z-index: 3;
        font-family: 'Shrikhand', cursive;
        margin-left: 20px;
    }

    i {
        margin-right: 30px;
    }
}

.main__menu {
    background-color: $color-grey-light;
    border-top-left-radius: 50px;
    border-top-right-radius: 20px;
}

.traitVert {
    margin-top: -25px;
    margin-bottom: 10px;
    margin-left: 16px;
    width: 40px;
    height: 3px;
    background-color: $color-blue-light;
}

section {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: 25px;
    gap: 10px;

    .menu {
        background-color: white;
        width: 98%;
        height: 60px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 14px;

        p {

            margin-left: 12px;
            margin-right: 14px;
            margin-bottom: 5px;

        }

        &__secondel {
            font-weight: 300;
            font-size: 12px;
            margin-top: -10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            P:nth-child(2n) {
                font-size: 14px;
                font-weight: 400;
            }

        }
    }
}





/********** Footer ***************/
/********** Footer ***************/
/********** Footer ***************/

footer {
    font-family: 'Roboto', sans-serif;
    background-color: $color-grey-dark;
    color: white;
    display: flex;
    flex-direction: column;
    gap: -10px;
    margin-top: -35px;

    img {
        filter: invert(100%);
        margin-top: 10px;
        margin-left: 15px;
        width: 70px;
        margin-bottom: 26px;
    }

    p {

        color: white;
        margin-left: 15px;
        font-size: 12px;
        margin-top: -5px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .couverts {
        margin-left: 15px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: -6px;

        p {
            margin-top: -15px;
        }

    }

    i {
        font-size: 10px;
    }

}