@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

$color-purple: #9356DC;
$color-purple-light: #cdb1ee;
$color-pink: #FF79DA;
$color-blue-light: #99E2D0;
$color-grey: #eaeaea;
$color-grey-light: #f6f6f6;
$color-grey-dark: #353535;
$color-gradient : linear-gradient(180deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);

@mixin button-design-hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    transition: .4s;
}

@mixin button-design {
    opacity: 1;
    font-style: normal;
    font-family: 'Roboto';
    background: $color-gradient;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 13px 18.75px;
    border-radius: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.loader {
    background-image: url("../IMG_3879.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100vh;
    animation: loader 3000ms;
    animation-fill-mode: forwards;
    opacity: 1;
    transform: scale(1);
    transform-origin: top;
}

@keyframes loader {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    80% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

h1 {
    font-size: 40px;
}

.enchargement {
    font-size: 15px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.loader-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-spinner {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 7px solid transparent;
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
    animation: spin 3s linear infinite;
    background: transparent;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/***** parametre general *****/
/***** parametre general *****/
/***** parametre general *****/
body {
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin: auto;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 8%;
    margin-top: 5px;
}

/***********HEADER*************/
header{
    width:100%;
}
.header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
        width: 162px;
        margin-top: 14px;
        margin-bottom: 5px;
    }
}

.header__localisation {
    width: 100%;
    background-color: $color-grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &--dispo {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 15.5px;
        margin-bottom: 15.5px;

        i {
            margin-right: 10px;
        }

        p {
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.header__explorer {
    width: 100%;
    background-color: $color-grey-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    h1 {
        width: 75%;
        flex-wrap: wrap;
        font-size: 24px;
        text-align: center;

        @media (min-width: 767.98px) {
            font-size: 28px;
        }
    }

    p {
        width: 90%;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        margin: 0px;
    }
}

button {
    @include button-design();
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 47px;

    &:hover {
        @include button-design-hover();
    }
}

.choix {
    margin-bottom: 67px;
    margin:auto;

    h3 {
       width: 275px;
        height: 31px;
       padding-top: 54px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }
}

.choix__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.choix__btn>div {
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    background-color: white;

    @media(width<300px) {
        width: 180px;
    }
}

.fbtn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 90%;
    height: 45px;
    font-family: "Roboto", sans-serif;
    color: black;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border: none;
    padding: 8px;

    &__circle {
        display: flex;
        color: white;
        background-color: #9356DC;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 14px;
        border-radius: 50%;
        margin-left: -20px;
        margin-top: 0px;
        padding: 4px;

        p {
            color: white;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
        }
    }

    a {
        color:black;
        text-decoration: none;
        font-size: 14px;
        margin-left: 27px;
    }

    i {
        color: #7E7E7E;
        margin-left: 34px;
    }

    .fa-sharp {
        color: $color-purple;
    }

    @media(width<300px) {
        a {
            font-size: 11px;
        }
    }

}

/********* MAIN ***********/
main {
    width:100%;
    background-color: $color-grey-light;
    padding-bottom: 10px;
}

.main__titre {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding-top: 54px;
}

.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 51px;
}

.card {
    background-color: white;
    width: 90%;
    border-radius: 20px;
    height: 270px;
}

.card img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.nouveau {
    position: relative;
}

.nouveau::before {
    content: "Nouveau";
    position: absolute;
    height: 2rem;
    width: 5rem;
    background-color: $color-blue-light;
    color: darken($color: $color-blue-light, $amount: 50%);
    display: grid;
    place-items: center;
    right: 1rem;
    top: -12rem;
}

.cart__content {
    display: flex;
    flex-direction: column;
}

.card__content h4 {
    margin-top: 0px;
    margin-left: 10px;
    font-size:18px;
    font-weight:700;
}

.card__content p {
    font-size:17px;
    font-weight:300;
    margin-top: -15px;
    margin-left: 10px;
    width: 100%;
    height: auto;
}

.card__firstl {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

//Gestion affichage des coeurs

.card__content {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.heart {
    position: relative;
    margin-left: 20px;
    width: 15%;
    box-shadow: none;

    i {
        font-size: 16px;
    }

    .fa-solid {
        content: "";
        position: absolute;
        color: transparent;
        background-image: $color-gradient;
        background-clip: text;
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }
}

.card__firstl {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

footer {
    .logo1 {
        display: block;
    }

    .logo2 {
        display: none;
    }

    font-family: 'Roboto',
    sans-serif;
    background-color: $color-grey-dark;
    color: white;
    display: flex;
    flex-direction: column;
 
    img {
        filter: invert(100%);
        margin-top: 22px;
        margin-left: 15px;
        width: 85px;
        margin-bottom: 26px;
    }

    p {

        color: white;
        margin-left: 15px;
        font-size: 12px;
        margin-top: -5px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .couverts {
        margin-left: 15px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: -6px;

        p {
            margin-top: -15px;
        }
    }

    i {

        font-size: 10px;
    }
}


/******* page menu *****/

.header__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__firstl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
    gap: 22%;
    margin-left: -20%;

    img {
        width: 180px;
    }
}


.header__image {
    width: 100%;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.mainRestaurant {
    border-radius: 40px;
    background-color: $color-grey-light;
    background-color: #9356DC;
}

.nomRestaurant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-family: 'Shrikhand', cursive;
        margin-left: 20px;
    }

    i {
        margin-right: 30px;
    }
}

.main__menu {
    background-color: $color-grey-light;
    border-top-left-radius: 50px;
    border-top-right-radius: 20px;
}

.traitVert {
    margin-top: -17px;
    margin-bottom: 20px;
    margin-left: 16px;
    width: 40px;
    height: 3px;
    background-color: $color-blue-light;
}

section {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: 25px;
    gap: 10px;

    .menu {
        background-color: white;
        width: 98%;
        height: 60px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 14px;

        p {

            margin-left: 12px;
            margin-right: 14px;
            margin-bottom: 5px;
        }

        &__secondel {
            font-weight: 300;
            font-size: 12px;
            margin-top: -10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            P:nth-child(2n) {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.btn__long {
    padding-left: 60px;
    padding-right: 60px;
}

/*******appareil compris entre 732px <= width <= 1024px *********/
/*******appareil compris entre 732px <= width <= 1024px *********/
/*******appareil compris entre 732px <= width <= 1024px *********/
@media (732px <=width <=1024px) {

    h1 {
        font-size: 28px;
    }

    .choix h3 {
        margin-left: 6%;
        font-size: 22px;
    }

    .choix__btn>div {
        width: 200px;
    }

    .choix__btn {
        margin-left: 1%;
        margin-right: 1%;
    }

    h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        margin-left: 14%;
        padding-top: 20px;
    }

    main {
        padding-bottom: 20px;
    }

    .restaurants {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 10%;
        margin-right: 10%;
    }

    .card {
        max-width: 40%;
        height: 270px;
    }

    .choix__btn {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 40px;
    }
}

//Gestion affichage des coeurs

.card__content {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.heart {
    margin-left: 20px;
    width: 15%;

    i {
        font-size: 18px;
    }

    .fa-solid {
        position: absolute;
        color: transparent;
        background-image: $color-gradient;
        background-clip: text;
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }
}

.card__firstl {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/*******appareil compris au dessus1024px *********/
/*******appareil compris au dessus1024px *********/
/*******appareil compris au dessus1024px *********/
@media (min-width: 1024px) {

    h1 {
        font-size: 28px;
    }

    .choix h3 {
        margin-left: 15%;
        font-size: 22px;
    }

    .choix__btn>div {
        width: 220px;
    }

    .choix__btn {
        margin-left: 14%;
        margin-right: 14%;
    }

    h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        margin-left: 14%;
        padding-top: 20px;
    }

    main {
        padding-bottom: 20px;
    }

    .restaurants {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 10%;
        margin-right: 10%;
    }

    .card {
        max-width: 40%;
        height: 270px;
    }

    .choix__btn {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 40px;
    }

    //Gestion affichage des coeurs

    .card__content {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
    }

    .heart {
        width: 10%;
        i {
            font-size: 18px;
        }

        .fa-solid {
            position: absolute;
            color: transparent;
            background-image: $color-gradient;
            background-clip: text;
            opacity: 0;

            &:hover {
                opacity: 1;
            }
        }
    }

    .card__firstl {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        font-size:18px;
        font-weight:700;
    }
    footer {
        .logo1 {
            display: none;
        }

        .logo2 {
            display: block;
        }

        font-family: 'Roboto',sans-serif;
        font-size: 16px;
        font-weight: 500;
        background-color: $color-grey-dark;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        padding-top: 25px;
   
        img {
            filter: invert(100%);
            margin-top: 40px;
            margin-right: 55px;
            margin-left: 50px;
            width: 125px;
            margin-bottom: 26px;
            order: 4;
        }

        p {

            color: white;
            margin-left: 35px;
            font-size: 15px;
            margin-top: 40px;
        }

        a {
            text-decoration: none;
            color: white;
        }

        .couverts {
            margin-left: 15px;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-top: 18px;

            p {
                margin-top: -15px;
            }
        }

        i {
            margin-left: 15px;
            margin-top: 25px;
            font-size: 10px;
        }

    }
}