/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: var(--main-bg-color)
}

body {
    display: flex;
    flex-direction: column;

    margin: auto;
    max-width: 1400px;
    min-width: 320px;

}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}





.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** header ***********/
.entete {
    margin-left: 10px;
}

.entete h1 {
    font-size: 85%;
}

.entete p {
    font-size: 75%;
    margin-top: -5px;
}


.entete .firstline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

.entete .firstline img {
    max-width: 50%;
    width: 100px;
    height: auto;

}

.entete .lien {
    margin-right: 50px;
}

.lien-activites:hover {
    border: 2px solid white;
    border-bottom-color: blue;
}

.lien-hebergement:hover {
    border: 2px solid white;
    border-bottom-color: blue;
}

.lien a {

    font-size: 75%;
    text-decoration: none;
    margin-left: 50px;

}



/****** Recherche filtres et informations ***********/

.navigation {
    margin-left: 10px;
}

.recherche {
    display: flex;
    flex-direction: row;
    gap: 0px;

}

.recherche .fa-location-dot {
    font-size: 12px;
    color: black;
    padding: 10px;
    background-color: var(--main-bg-color);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

}

.recherche .fa-magnifying-glass {
    font-size: 12px;
    color: white;
    padding: 10px;
    background-color: var(--main-color);

}

.recherche .btnSearch2 {
    display: none;
}

.recherche .btnSearch1 {
    display: block;
}


.recherche input {
    border-color: var(--main-bg-color);
}

.recherche button {
    background-color: var(--main-color);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-color: #2b7bf3;
    color: white;
}

.recherche a {
    color: white;
}


.navigation .filtres {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
}

.filtre-bouton {
    display: flex;
    flex-direction: row;
    gap: 3%;
    font-size: 16px;
    font-weight: 700;
}

.navigation .fbtn {
    width: 150px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 1px #cecaca;
    border-radius: 20px;
    padding-top: 3px;
    padding-left: 6px;


}

.navigation .fbtn:hover {
    background-color: rgb(220, 20, 20);
    border: solid 1px #5a0505;
}

.navigation a {
    text-decoration: none;
    padding: 5px;
}

.navigation .information {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}

.navigation .information i {

    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.hebergements-cards .hebergement-card {
    width: 30%;
  
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .carte-cliquable {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}


.hebergements-cards img {
    width: 100%;
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding:5px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements .hebergement-lien {
    text-decoration: none;
    margin-top: 100px;

}









/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-cards .carte-cliquable {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;

}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/********** Activités******************/

.activite {
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-left: 20px;

}

.activite-fiche {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-around;
    gap: 20px;
}

.activite-content {
    width: 22%;
}

.activite-fiche article {
    height: 420px;
}

.activite-content img {
    width: 100%;
    height: 80%;
    object-fit: none;
    border-radius: 20px;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.1));
}

.activite-title h2 {
    font-size: 16px;
}


/********** Footer******************/
footer {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: content;
    gap: 18%;
    margin-top: -30px;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
}

.footerSection a {
    text-decoration: none;

}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .body {

        margin-left: 200px;
    }

    .populaires-cards .carte-cliquable {
        width: 30%;

        margin-top: 33px;
        text-decoration: none;
        display: block;
    }

    .populaires-cards .card {
        width: 100%;
        display: flex;

    }

    .card-txt {
        display: flex;

        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .navigation {
        margin-left: 10px;

    }

    .entete .firstline {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .recherche .btnSearch1 {
        display: block;
    }

    .recherche .btnSearch2 {
        display: none;
    }




    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .carte-cliquable {
        width: 30%;
        text-decoration: none;
        display: block;


    }

    .populaires-cards .card {
        width: 100%;
        display: flex;


    }




    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activite {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        align-content: space-around;
        gap: 15px;
    }

    .activite-content img {
        width: 100%;
        height: 60%;
        object-fit: none;
        border-radius: 20px;
    }

    .activite-title h2 {
        font-size: 14px;
    }

    .card-title {
        font-size: 16px;
    }

    .navigation .filtres {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }



}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .card-title {
        font-size: 14px;
    }

    /* header Small devices (phones, less than 768px)*/
    .entete .firstline {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .entete .logo {
        display: flex;
        justify-content: center;

    }

    .entete .lien {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }


    .lien a {
        margin-left: 0px;
    }

    .entete .firstline img {
        width: 60px;
        height: auto;
    }

    /* Boutons rcherche Small devices (phones, less than 768px)*/
    .recherche .btnSearch2 {
        display: block;
    }

    .recherche .btnSearch1 {
        display: none;
    }


    /* Populaire Small devices (phones, less than 768px)*/
    .navigation .information {

        margin-bottom: 0px;
    }

    .filtre-bouton {
        flex-wrap: wrap;
    }

    .btnSearch {
        display: none;
    }


    .populaires {
        margin-top: 0px;
        gap: 0px;
    }


    .hebergements-and-populaires {
        flex-direction: column-reverse;
        margin-left: 20px;
    }


    .populaires-cards .carte-cliquable {
        width: 100%;

        margin-top: 33px;
        text-decoration: none;
        display: block;
    }

    .populaires-cards .card {
       max-width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;

    }

    .hebergements-and-populaires .hebergements {
        border-radius: 20px;
        box-sizing: border-box;
    }

    .hebergements-and-populaires .title {
        font-size: 14px;
    }

    /*Hebergements Small devices (phones, less than 768px)*/
    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .hebergements .hebergement-lien {
        text-decoration: none;
        margin-top: 20px;

    }



    .hebergements-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
      
    }

    .hebergements-cards .hebergement-card {
        width: 100%;


    }

    .hebergements-cards .carte-cliquable {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
    }



    /* Fiche Activité Small devices (phones, less than 768px)*/
    .activite {
        margin-left: 5px;
    }

    .activite-fiche {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;


    }

    .activite-fiche article {
        height: 420px;
        margin-bottom: -100px;
    }

    .activite-content {
        padding: 5%;
        width: 92%;

    }

    .activite-content img {
        border-radius: 20px;
        object-fit: cover;
    }


    /* Footer Small devices (phones, less than 768px)*/

    footer {

        flex-direction: column;
        justify-content: flex-start;


    }

}